<% title "Editing '#{@photo}'" %>

<h1>
	<%= link_to @photo.category, admin_category_path(@photo.category), { :title  => 'Category'} %>
	&rarr;
	<%= @photo %>
</h1>

<!-- Have the display as two columns -->
<div class="group">
<%= render 'admin/photos/inc/thumb' %>
</div>

<div class="group">
<%= render 'form' %>
</div>

<%= render 'admin/photos/inc/crud' %>

