<% title "Photos #{pagination_title @photos}" %>



<div id="photos">
<%= render :partial => 'photo', :collection => @photos %>
</div>



<%= will_paginate @photo_sets %>

<div id="overlay">
	<div class="overlay-content"></div>
</div>





<% content_for :options do %>

	<%= render 'upload' %>

	<noscript>
		<%= link_to "Create a new photo", new_admin_photo_path, { 
			:class => 'new', 
			:accesskey => 'n',
			:rel => '#overlay' } %>
	</noscript>
	
	<%= render :partial => 'admin/photos/inc/categories' %>
	<%= render :partial => 'admin/photos/inc/sets' if @category %>


<% end %>

