<% 
	title @category
 %>


<div class="heading">
	
	<h1><%= @category %></h1>	
</div>


<div id="photos">
	
	<%= render :partial => 'admin/categories/inc/empty' if @photos.empty? %>

	<% @photos.each do |photo| %>
	<%= render :partial => 'admin/photos/inc/photo', :locals => { :photo => photo } %>
	<% end %>

</div>
	

<%= render 'admin/photos/upload' %>
<%= render 'admin/categories/inc/crud' %>
