<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<%= stylesheet_link_tag '00-reset', 
								'admin/01-base', 'admin/02-admin',
								'plugins/formtastic','plugins/formtastic_changes', :cache => 'cache/admin' %>
								
								
		<%= javascript_include_tag :all, :cache => 'cache/public' %>
		<%= javascript_include_tag 'admin/application' %>
								

		<title><%= yield :title %> Admin</title>
	</head>
	<body class="admin">
                      
		<div id="top">
			<div class="container">
                            
				<!-- Show them who they're logged in as -->
				<%= render 'layouts/inc/admin_login_details' if logged_in? %>

				<!-- The navigation -->
				<%= render 'layouts/inc/admin_nav' %>


			</div>
		</div>
		

		<!-- main content in here -->
		<div id="main" >

			<div class="container">
				
				<div id="content">
					
					<!-- Flash! -->
					<%= render :partial => 'layouts/inc/flash', :locals => { :flash => flash } unless flash.empty? %>

					<%= yield %>
					
				</div> <!-- end of content -->
				
				
				<div id="side">

					<%= yield :options %>
					<%= yield :side %>
					<%= yield :help %>
		
				</div> <!-- end of side -->
				
				
			</div> <!-- end of container -->
		</div> <!-- end of main -->
		        
		        
		<!-- Footer details -->
		<div id="footer">
			<div class="container">
				
				Website powered by <%= link_to 'Newfangled', 'http://newfangled.com.au' %>
								
			</div>
		</div>
		


	</body>
</html>