<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= yield :title %> Shine photo</title>

	<%= stylesheet_link_tag :all, :cache => 'cache/public' %>
	<%= stylesheet_link_tag 'site/shinephoto' %>
	
	<!--[if lte IE 8]>
	<%= javascript_include_tag 'ie/modernizr-1.5.min' %>
	<![endif]-->
	
</head>
<body>

	<header>
		<div class="container">
			<nav>
			<%= link_to 'Shine Photo', root_path, { :id => "root" } %>
			</nav>
		</div>
	</header>

	<div id="main">
		<div class="container">

			
			<nav><%= nav %></nav>
			
			<%= yield %>
			
		</div> <!-- end of container -->
	</div> <!-- end of main -->
	
	<div id="caption">
		<div class="container">
			
			<%= yield :side %>
		</div>
	</div>
			
	<footer id="footer">
		<div class="container">
			
			
			<p>Phone <%= t 'phone' %></p>
			<p>Email <%= mail_to t('email'), t('email'), :encode => "javascript" %></p>

			<br />
			<!-- This is where our sitemap will at the base of each page -->
			<p>Copyright 2010 Shine Photo. All Rights Reserved. </p>
			
		</div>
	</footer>
	
	<%= javascript_include_tag :all, :cache => 'cache/public' %>
	
	
	<script type="text/javascript">
		//<![CDATA[
		<%= yield :javascript %>
		//]]>
	</script>
	
</body>
</html>
